.increment-button{
    background-color: green;
    margin-right: 10px;
    color: beige;
    height: 37px;
    width: 150px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
}
.decrement-button{
    background-color: brown;
    margin-right: 10px;
    color: beige;
    height: 37px;
    width: 150px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
}
.reset-button{
    background-color: aquamarine;
    color: rgb(15, 15, 13);
    height: 37px;
    width: 150px;
    border: none;
    border-radius: 3px;
    border: none;
    font-weight: 500;
}
.counter{
    font-size: 34px;
    font-weight: bolder;
    color: blue;
}